@font-face {
font-family: 'Myriad Pro Regular';
font-style: normal;
font-weight: normal;
src:url('fonts/MYRIADPRO-REGULAR.woff');
}

@font-face {
	font-family: 'gothic';
	src:url('fonts/gothic.woff');
}
#bookForm {width:96%;height:auto;padding:20px 2%;float:left;}
#bookOffer .regular-checkbox + label {float:left;display:inline;   -moz-box-shadow:    inset 3px 3px 1px #b0b0b0;
   -webkit-box-shadow: inset 3px 3px 1px #b0b0b0;
   box-shadow:         inset 3px 3px 1px #b0b0b0;}
#calendar-cont {margin:0 auto;overflow:hidden;padding:0;margin-top:40px;background:#fff;border-radius:10px;}




.title {	font-family: 'Myriad Pro Regular';color: #f37920;font-size: 28px;
    font-weight: bold;float:left;width:100%;text-align:center;margin-bottom:15px;}

.dane {float:left;width:100%;}

		.desc {float:left;width:55%; color: #333;
    font-family: "Calibri";
    font-size: 19px;display:inline;}



		#book_value {float:left;width:78px;color:#666;text-align:center;font-size:28px;font-family: 'Myriad Pro Regular';font-weight:bold;height:45px;display:inline;margin:0 20px;border:0;margin-top:3px;background:#f5f4f4;


   -moz-box-shadow:    inset 3px 3px 1px #b0b0b0;
   -webkit-box-shadow: inset 3px 3px 1px #b0b0b0;
   box-shadow:         inset 3px 3px 1px #b0b0b0;
}

.book_value {float:left;width:78px;color:#666;text-align:center;font-size:28px;font-family: 'Myriad Pro Regular';font-weight:bold;padding:10px;height:45px;display:inline;margin:0 20px;border:0;margin-top:3px;background:#f5f4f4;


   -moz-box-shadow:    inset 3px 3px 1px #b0b0b0;
   -webkit-box-shadow: inset 3px 3px 1px #b0b0b0;
   box-shadow:         inset 3px 3px 1px #b0b0b0;
}
.service-name .book_value {float:right;margin:0;height:30px !important;padding:5px;width:58px;}
.service-name #book_value {float:right;margin:0;height:24px;padding:5px;width:38px;}



		input#button {margin-top:3px;float:left;width:auto;height:45px;display:inline;border:0!important;color:#fff;	font-family:Calibri;font-size:20px;font-weight:bold;text-transform:uppercase;
text-align:center;padding:5px 15px;
		text-shadow: 1px 1px 1px #333; border-radius:0!important;
-webkit-appearance: none;
background:#f37920!important;
		}


	.service-icon,.service-name, .service-price, .service-choose, .service-no {height:34px;padding:4px 0;line-height:34px;float:left;display:inline;text-align:center;}
		
		
		.stang {clear:both;height:20px;line-height:20px;padding:3px 0;}
		.stang a {float:right;text-decoration:none;color:#999999;font-size:13px;font-family:Calibri;}
		.stang img {margin-top:5px;float:right;margin-left:5px;}
		
#bookOffer {height:auto;width:96%;float:left;padding:0 2% 20px 2%;}
.bookOffer-row {clear:both;width:100%;height:46px;border-top:1px solid #ccc;padding:2px 0;}

.bookOffer-row-last-child {
margin-top:2px;
border-top: 1px solid #ccc;
width:100%;
}

.service-icon {width:92px;} 
.service-icon img {float:right;}
.service-name {color:#000; font-family: "Calibri";width:290px;padding:6px 5px;text-align:left;
    font-size: 19px;font-weight:bold;}
		.service-name span {color:#999;font-size:15px;display:none;}
		
		
.service-price {width:95px;  text-align:right; padding-right:5px;color: #63a338; font-weight:bold;font-size:28px;font-family:Calibri;}
.service-choose {width:auto;float:left;display:inline;color:#000;text-transform:uppercase;font-size:14px;font-family:Calibri;font-weight:bold;}
.service-choose span {
	float:left;
	margin-top:5px;
}
.service-tool {width:52px;height:46px;float:left;}
.service-tool a {font-size:12px;color:#333;float:left;height:46px;width:100%;text-align:center;line-height:68px;	font-family: 'Myriad Pro Regular';text-decoration:none;text-transform:uppercase;background:transparent url('mer.png') no-repeat top center;}

.service-tool a:hover {color:#999999;}

@media screen and (max-width: 780px) { 


#bookOffer {height:auto;width:96%;float:left;padding:0 2% 20px 2%;}

#calendar-cont {
	width:100% !important;
}
.buttony {float:left;width:100%;margin:15px 0;}
 .service-icon, .service-name {float:left;width:100%;padding:0;height: 30px;
line-height: 30px;}
.service-tool a {font-size:0;background: transparent url("mermin.png") no-repeat left center;}
.service-price {width:auto;padding:6px 5px;}
 .service-icon img {float:left;}
 #calendar-cont {background: transparent url("bg.png") repeat;}

 
 }




@media screen and (min-width: 900px) { 
#calendar-cont {
	position:absolute;
	z-index:99998;
	margin-top:-390px;
	margin-left:230px;
}

}

@media screen and (min-width: 1000px) { 
#calendar-cont {
	position:absolute;
	z-index:99998;
	margin-top:-400px;
	margin-left:300px;
}

}

@media screen and (min-width: 1100px) { 
#calendar-cont {
	position:absolute;
	z-index:99998;
	margin-top:-400px;
	margin-left:400px;
}

}
@media screen and (max-width: 900px) { 

 #calendar-cont {background: transparent url("bg.png") repeat;width:96% !important;margin:20px 2%;}

}
		
